body {
  background-color: black;
  color: white;
}

ul {
  list-style-type: none;
}

li {
  border: 1px solid black;
  margin-bottom: 10px;
  border-radius: 10%;
}

img {
  margin-left: 20px;
  border-radius: 10%;
}

li:hover{
    opacity: .5;
    background-color: grey;
}

#deleteBtn {
  background-color: red;
  border-radius: 10%;
}